<HTML>
    <HEAD>
    <TITLE> 자바스크립트 </TITLE>
        <!-- bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <!-- bootstrap Js,JQuery CDN -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    
        <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
        <link type="text/css" rel="stylesheet" href="select-case-color.css">
        <link type="text/css" rel="stylesheet" href="color-picker-sample.css">
        <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

    
    <style type="text/css">
    .phone_case{
        border:black solid 1px;
    }
    .drag{
    position:relative;
    cursor:hand;
    z-index: 100;
    }
    .tab_table td{
       padding:5px; 
    }
    .container{
        width:50%;
        height:100%;
    }
    .order_button{
        margin:10px;

    }
    .right_side{
        
        width:40%;
        height:800px;
        float:right;
        margin-top:60px;
        border:black solid 1px;
    }
    .list_group{
        vertical-align: middle;
    }
/*  bhoechie tab */

.nav-tabs li a {
    color: #777;
  }

.navbar {
font-family: Montserrat, monospace;
margin-bottom: 0;
background-color: #2d2d30;
border: 0;
font-size: 21px !important;
letter-spacing: 4px;
opacity: 0.9;
}
  .navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
    color: #fff !important;
  }
  .navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  .open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
  }
  .dropdown-menu li a {
    color: #000 !important;
  }
  .dropdown-menu li a:hover {
    background-color: red !important;
  }
  footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
  }
  footer a {
    color: #f5f5f5;
  }
  footer a:hover {
    color: #777;
    text-decoration: none;
  }  
  #Foot {
    margin-top:30px;
    color:white;
    background-color: gray;
    padding:20px;
    
}
footer{
    clear:both;
}
#Foot a{
    text-decoration: none;
    text-decoration-color: rgb(245, 243, 243);
    
}
th, td{
    text-align: center;
    vertical-align: middle;
    margin :auto;
}
.table {
    margin:50px;
    height:600px;
}

    </style>

    <script type="text/javascript">
    
    var dragobject={
    z: 0, x: 0, y: 0, offsetx : null, offsety : null, targetobj : null, dragapproved : 0,
    initialize:function(){
    document.onmousedown=this.drag
    document.onmouseup=function(){this.dragapproved=0}
    },
    drag:function(e){
    var evtobj=window.event? window.event : e
    this.targetobj=window.event? event.srcElement : e.target
    if (this.targetobj.className=="drag"){
    this.dragapproved=1
    if (isNaN(parseInt(this.targetobj.style.left))){this.targetobj.style.left=0}
    if (isNaN(parseInt(this.targetobj.style.top))){this.targetobj.style.top=0}
    this.offsetx=parseInt(this.targetobj.style.left)
    this.offsety=parseInt(this.targetobj.style.top)
    this.x=evtobj.clientX
    this.y=evtobj.clientY
    if (evtobj.preventDefault)
    evtobj.preventDefault()
    document.onmousemove=dragobject.moveit
    }
    },
    moveit:function(e){
    var evtobj=window.event? window.event : e
    if (this.dragapproved==1){
    this.targetobj.style.left=this.offsetx+evtobj.clientX-this.x+"px"
    this.targetobj.style.top=this.offsety+evtobj.clientY-this.y+"px"
    return false
    }
    }
    }
    
    dragobject.initialize()
    $(document).ready(function() {
    $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
        e.preventDefault();
        $(this).siblings('a.active').removeClass("active");
        $(this).addClass("active");
        var index = $(this).index();
        $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
        $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
        });
    });
    </script>

    </HEAD>
    
    <body>
            
    <!-- navbar start -->
<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#myPage">Nick Fury's caseshop</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="main.html">HOME</a></li>
              <li><a href="ranking.html">Rank</a></li>
              <li><a href="new.html">New</a></li>
              <li><a href="cart.html">Cart</a></li>
              
              <li><a href="#">Login</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- navbar end -->

    <!-- attach items -->
    
      <table class="table table-borderless "style="float:left; width:50%; border:solid black 1px;">
            
        <tbody>
          <tr>
            <th scope="row"rowspan="2" >캐릭터<br>
              <h1 class="glyphicon glyphicon-plane" aria-hidden="true">
                
              </h1>
            </th>
            <td>
                <img class="drag" width="100" height="150" src="sticker/bear.png" >
            </td>
            <td>
                <img class="drag" width="100" height="150" src="sticker/toystory.png" >
            </td>
            <td>
                <img class="drag" width="100" height="150" src="parts/12.png">
            </td>
          </tr>
          <tr>
            
              <td>
                  <img class="drag" width="100" height="150" src="sticker/character/2.png">
              </td>
              <td>    
                  <img class="drag" width="100" height="150" src="marvel.png">
              </td>
              <td>    
                  <img class="drag" width="100" height="150" src="sticker/simple/2.png">
              </td>
          </tr>
          <tr>
          <th scope="row"rowspan="2" >레터링<br><h1 class="glyphicon glyphicon-font" aria-hidden="true"></h1></th>
          
          
          
            <td colspan="3">
              <center>
                  
                  
                <script>
                    var num=0;
                    var b=0;
                    for(var i=0;i<2;i++) {
                    document.write('<h3 class="drag" id="custumtext" name="text"></h3>');
                    document.write('<input type="text" id="newtext" class="newtext1">');
                    document.write('<button onclick="Changetext()"></button>');
                    }
                    
                    function Changetext(){
                    var a=document.getElementsByClassName("newtext1")[num].value;
                    document.getElementsByName("text")[num].innerHTML=a;
                    num++;
                    
                }
                </script>
            </center>
            </td>
          <tr>
            <td></td><td></td><td></td>
          </tr>
          
          
          <th scope="row"rowspan="2" >그립<br><h1 class="glyphicon glyphicon-pawn" aria-hidden="true"></h1></th>
          <td>
            <img class="drag" width="100" height="150" src="griptok/1.png">
        </td>
          <td><img class="drag" width="100" height="150" src="griptok/2.png"></td>
          <td><img class="drag" width="100" height="150" src="griptok/3.png"></td>
          </tr>
          <tr>
          
            <td><img class="drag" width="100" height="150" src="griptok/4.png"></td>
            <td><img class="drag" width="100" height="150" src="griptok/5.png"></td>
            <td><img class="drag" width="100" height="150" src="griptok/6.png"></td>
          </tr>
          
        </tbody>
      </table>
      <!-- items end -->


        <div class="right_side">
            <!-- 기종선택 먼저하고 색깔 고르자 -->
        <select id="select-model" onChange="selectSub(this.value);">
            <option value="">기종 선택</option>
            <option value="note9">Galaxy Note 9</option>
            <option value="s10+">Galaxy S10+</option>
            <option value="8+">iPhone 7+ / 8+</option>
            <option value="xs">iPhone XS</option>
            <option value="v50">LG V50</option>
        </select>

        <!-- 색깔 고르는 거 -->
    <div class="select-color">
        <div class="color-picker">
            <script>
                for (var i = 1; i < 17; i++) {
                    document.write('<div class="result-color-' + i + '" onclick="select(' + i + ')"></div>');
                }
            </script>
        </div>
    </div>

    <script>
        function selectSub(obj) {
            
            switch (obj) {
                case 'note9':
                    document.getElementById("result").innerHTML = "<img src='Galaxy-Note-9/2.png' id='note9'>";
                     break;
                case 's10+': 
                    document.getElementById("result").innerHTML = "<img src='Galaxy-S10+/2.png' id='s10+'>";
                     break;
                case '8+': 
                    document.getElementById("result").innerHTML = "<img src='iPhone-8+/2.png' id='8+'>";
                     break;
                case 'xs':
                    document.getElementById("result").innerHTML = "<img src='iPhone-XS/2.png' id='xs'>";
                     break;
                case 'v50': 
                    document.getElementById("result").innerHTML = "<img src='LG-V50/2.png' id='v50'>";
                     break;
                default: 
                    document.getElementById("result").innerHTML = ""; 
                    break;
            }
        }
    </script>

    

    <div id="result"></div>

    <script>
        function select(x) {

            // 종류는 가져오기
            // x는 색상
            var type=document.getElementById("select-model").value;
            if(type=='note9'){
                document.getElementById("note9").src = "Galaxy-Note-9/" + x + ".png";
            }
            else if(type=='s10+'){
                document.getElementById("s10+").src = "Galaxy-S10+/" + x + ".png";

            }
            else if(type=='8+'){
                document.getElementById("8+").src = "iPhone-8+/" + x + ".png";

            }
            else if(type=='xs'){
                document.getElementById("xs").src = "iPhone-XS/" + x + ".png";

            }
            else if(type=='v50'){
                document.getElementById("v50").src = "LG-V50/" + x + ".png";

            }
        }
    
    </script>
    </div>

        
    <!-- print Footer informations of us -->
    <footer>
            <div class="inner_footer">
                    <h2 class="screen_out">서비스 이용정보</h2>
                    <div class="info_service">
                        <a href="#" class="link_service">개인정보처리방침</a>
                        <a href="#" class="link_service link_service2">이용약관</a>
                        <a href="#" target="_blank" class="link_service link_service2">제휴문의</a>
                        </div>
                    <small class="info_copy">
                        <span class="txt_copy">사업자등록번호 : 123-45-67890</span>
                        <br>
                        <span class="txt_copy">대표이사 : Ji Young Oh</span>
                        <br>
                        <span class="txt_copy">주소 : 충청북도 청주시 충대로1 충북대학교 S4-1</span>
                        <br>
                        <span class="txt_copy">고객센터 : 010-6364-7136 / 평일 10시 ~ 18시</span>
                        <br>
                        
                        <br>
                        <span class="txt_corp">Copyright © Nick Fury</span>
                    </small>
                </div>
            </div>
    </footer>
        

       
    </body>
    
</HTML>