
<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="goods_page.css">
</head>

<body>
   
    </script>

    <section id="header">
    </section>

    <section class="goods_container">
            <div class="container-header">
                <h1>Title</h1>
            </div>
            <div class="container-main">

                <div class="case_sample_new">
                    <a href="">
                        <img src="">
                    </a>
                    <p class="title">text</p>
                </div>

                <div class="case_sample_new">
                    <a href="">
                        <img src="">
                    </a>
                    <p class="title">text</p>
                </div>

                <div class="case_sample_new">
                    <a href="">
                        <img src="">
                    </a>
                    <p class="title">text</p>
                </div>

                <div class="case_sample_new">
                    <a href="">
                        <img src="">
                    </a>
                    <p class="title">text</p>
                </div> 

                <div class="case_sample_new">
                    <a href="">
                        <img src="">
                    </a>
                    <p class="title">text</p>
                </div>

                <div class="case_sample_new">
                    <a href="">
                        <img src="">
                    </a>
                    <p class="title">text</p>
                </div>

                <div class="case_sample_new">
                    <a href="">
                        <img src="">
                    </a>
                    <p class="title">text</p>
                </div>

                <div class="case_sample_new">
                    <a href="">
                        <img src="">
                    </a>
                    <p class="title">text</p>
                </div>
               
                <div class="case_sample_new">
                    <a href="">
                        <img src="">
                    </a>
                    <p class="title">text</p>
                </div>

                <div class="case_sample_new">
                    <a href="">
                        <img src="">
                    </a>
                    <p class="title">text</p>
                </div>

                <div class="case_sample_new">
                    <a href="">
                        <img src="">
                    </a>
                    <p class="title">text</p>
                </div>

                <div class="case_sample_new">
                    <a href="">
                        <img src="">
                    </a>
                    <p class="title">text</p>
                </div>
            </div>
        </section>
    

    <section id="tags-container">
        <div class="container-header">
            <h2>Tags</h2>
        </div>
        <div class="container-main">
            <div class="tags">
                <ul>
                    <li><a href="">abcd</a></li>
                    <li><a href="">abcd</a></li>
                    <li><a href="">abcd</a></li>
                </ul>
            </div>
            <div class="tags">
                <ul>
                    <li><a href="">abcd</a></li>
                    <li><a href="">abcd</a></li>
                    <li><a href="">abcd</a></li>
                </ul>
            </div>
            <div class="tags">
                <ul>
                    <li><a href="">abcd</a></li>
                    <li><a href="">abcd</a></li>
                    <li><a href="">abcd</a></li>
                </ul>
            </div>
            <div class="tags">
                <ul>
                    <li><a href="">abcd</a></li>
                    <li><a href="">abcd</a></li>
                    <li><a href="">abcd</a></li>
                </ul>
            </div>
        </div>
    </section>
    
    <section id="footer">
    </section>

</body>

</html>