<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Nick fury's Case Shop</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <!-- Load c3.css -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.6.9/c3.min.css" rel="stylesheet" type="text/css">

  <!-- Load d3.js and c3.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.6.9/c3.min.js"></script>

  <!--Load css-->
  <link type="text/css" rel="stylesheet" href="main.css">

  <script src="//code.jquery.com/jquery-3.3.1.js"></script>
  <script>
    $( document ).ready( function() {
      var jbOffset = $( '.navbar' ).offset();
      $( window ).scroll( function() {
        if ( $( document ).scrollTop() > jbOffset.top ) {
          $( '.navbar' ).addClass( 'mySlide' );
        }
        else {
          $( '.navbar' ).removeClass( 'mySlide' );
        }
      });
    } );
  </script>
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">


  <!-- image slide -->
  <div id="mySlide" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#mySlide" data-slide-to="0" class="active"></li>
      <li data-target="#mySlide" data-slide-to="1"></li>
      <li data-target="#mySlide" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="main11.jpg" width="1200px" height="700px">
        <div class="carousel-caption">
          <h3>New</h3>
          <p>We make new items.</p>
        </div>
      </div>

      <div class="item">
        <img src="main22.jpg" width="1200px" height="700px">
        <div class="carousel-caption">
          <h3>Special</h3>
          <p>You can make your own case.</p>
        </div>
      </div>

      <div class="item">
        <img src="main33.png" width="1200px" height="700px">
        <div class="carousel-caption">
          <h3>Pretty</h3>
          <p>It really looks good</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#mySlide" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#mySlide" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- navbar start -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#myPage">Nick Fury's caseshop</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">HOME</a></li>
          <li><a href="#band">Rank</a></li>
          <li><a href="#tour">New</a></li>
          <li><a href="#contact">Cart</a></li>
  
          <li><a href="#">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <script>
    $(function () {
      $(window).scroll(function () {  //스크롤하면 아래 코드 실행
        var num = $(this).scrollTop();  // 스크롤값
        if (num > 700) {  // 스크롤을 700이상 했을 때
          $(".navbar").css("position", "fixed");
        } else {
          $(".navbar").css("position", "absolute");
        }
      });
    });
  </script>
    <!-- navbar end -->

  <ul class="list_bnr">
    <li>
      <a href="" onclick="mainAreaCounting(this.href, 'mainCardWide'+'0')" class="link_bnr">
        <!-- <p class="title">모두 보기<br></p> -->
        <img src="banner1.jpg" class="thumb_g rw_show" alt="">
      </a>
    </li>
    <li>
      <a href="ranking.html" onclick="mainAreaCounting(this.href, 'mainCardWide'+'1')" class="link_bnr">
        <!-- <p class="title">랭킹 <br> 들어와서 보고가요</p> -->
        <img src="banner2.jpg" class="thumb_g rw_hide" alt="" style="">
      </a>
    </li>
    <li>
      <a href="" onclick="mainAreaCounting(this.href, 'mainCardWide'+'2')" class="link_bnr">
        <!-- <p class="title"> Sale<br>오늘만 할인한다 </p> -->
        <img src="banner3.jpg" class="thumb_g rw_hide" alt="" style="">
      </a>
    </li>
    <li>
      <a href="드래그3.html" onclick="mainAreaCounting(this.href, 'mainCardWide'+'3')" class="link_bnr">
        <!-- <p class="title">나만의 케이스 만들기 <br> 일단 한번 만들고가</p> -->
        <img src="banner4.jpg" class="thumb_g rw_hide" alt="" style="">
      </a>
    </li>
  </ul>

  <!-- Container (The Band Section) -->
  <div id="band" class="container text-center">
    <h3>THE BAND</h3>
    <p><em>We love music!</em></p>
    <p>We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
      deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</p>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <p class="text-center"><strong>Name</strong></p><br>
        <a href="#demo" data-toggle="collapse">
          <img src="bandmember.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo" class="collapse">
          <p>Guitarist and Lead Vocalist</p>
          <p>Loves long walks on the beach</p>
          <p>Member since 1988</p>
        </div>
      </div>
      <div class="col-sm-4">
        <p class="text-center"><strong>Name</strong></p><br>
        <a href="#demo2" data-toggle="collapse">
          <img src="bandmember.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo2" class="collapse">
          <p>Drummer</p>
          <p>Loves drummin'</p>
          <p>Member since 1988</p>
        </div>
      </div>
      <div class="col-sm-4">
        <p class="text-center"><strong>Name</strong></p><br>
        <a href="#demo3" data-toggle="collapse">
          <img src="bandmember.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo3" class="collapse">
          <p>Bass player</p>
          <p>Loves math</p>
          <p>Member since 2005</p>
        </div>
      </div>
    </div>
  </div>

  <!-- print google api maps and information of us-->
  <div>
    <div id="map" style="width:100%; height: 500px">

    <script>
      function myMap() {
        var mapCanvas = document.getElementById("map");
        var wearehere = new google.maps.LatLng(36.625557, 127.454100);
        var myCenter = new google.maps.LatLng(36.625665, 127.457163);
        var mapOptions = {
          center: myCenter,
          zoom: 17
        };
        var map = new google.maps.Map(mapCanvas, mapOptions);

        var icon = {
          url: "wearehere.png",
          scaledSize: new google.maps.Size(37, 55),
        }

        var marker = new google.maps.Marker({
          position: wearehere,
          animation: google.maps.Animation.BOUNCE,
          icon: icon
        });
        marker.setMap(map);
      }
    </script>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAlOjojzJqN5CEy7iGWtTTiWgCMiPUhXI&callback=myMap"></script>

    <div id="information">
      <b style="font-size:23px">Nick Fury's Case Shop</b>
      <p style="padding-left:10px">115, S4-1, 1, Chungdae-ro, Seowon-gu, Cheongju-si, Chungcheongbuk-do, Republic of Korea</p>
      <b style="font-size:23px">Office</b>
      <p style="padding-left:10px">Nest.Net Software <br> 김창현 ㅣ 오지영 ㅣ 윤송희 <br> T : 010.2287.5653</p>
    </div>
    </div>
  </div>


  <!-- print visitor chart -->
  <h3 style="text-align: center">요일별 남녀 방문자수</h3>
  <div id="chart" stlye="width:90%"></div>
  <script>
    var chart = c3.generate({
      bindto: '#chart',
      data: {
        columns: [
          ['Man', 30, 200, 100, 400, 150, 250, 60],
          ['Woman', 130, 100, 140, 200, 150, 50, 200],

        ],

        types: {
          data2: 'bar' // ADD 

        },

        type: 'bar'
      },
      axis: {
        x: {
          type: 'category',
          categories: ['Mon', 'Tue', 'Wen', 'Thu', 'Fri', 'Sat', 'Sun']
        }
      },
      bar: {
        width: {
          ratio: 0.5 // this makes bar width 50% of length between ticks
        }
      }
    });


  </script>


  <!-- print Footer -->
  <div id="Foot">
    <div id = "link-icon">
    <a href="https://www.instagram.com/samuelljackson/" target="_blank">
      <img src ="nickfury-insta.png">
    </a>
    <a href="http://nnet.cbnu.ac.kr/" target="_blank">
      <img src="nestnet-homepage.png">
    </a>
  </div>
      <small>
        <span>© NICK FURY'S CASE SHOP. ALL RIGHTS RESERVED. | DESIGNED BY <a href ="#map">NF&F</a>.</span>
      </small>
      
  </div>

<!--fixed go to up button-->
  <div id="up-button">
      <a id="go-up" href="#mySlide">&and;</a>
  </div>

</body>

</html>