<!DOCTYPE html>
<html>
<head>
    <title>닉퓨리네 핸드폰샵</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <!--<script type="text/javascript" src="C:\Users\user\Desktop\새 폴더\js3.js"></script>
    <script type="text/javascript" src="C:\Users\user\Desktop\새 폴더\js4.js"></script>-->
    <link type="text/css" rel="stylesheet" href="/static/ranking.css">
    <style>
    .nav-tabs li a {
    color: #777;
  }

  .navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
    color: #fff !important;
  }
  .navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  .open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
  }
  .dropdown-menu li a {
    color: #000 !important;
  }
  .dropdown-menu li a:hover {
    background-color: red !important;
  }
  #Foot {
            margin-top: 30px;
            color: white;
            background-color: rgb(0, 0, 0);
            padding: 20px;
            text-align: center;
        }

        #Foot a {
            text-decoration: none;
            color: rgba(255, 255, 255, .9);

        }

        #Foot span {
            letter-spacing: 0.20em;
            text-transform: uppercase;
            font-size: 0.80em;
            color: rgba(255, 255, 255, .6);
        }

    </style>
    <script>
    function Good(){
      var a=parseInt(document.getElementById("button1").value);
      a=a+1;
      document.getElementById("button1").value=a;
      document.getElementById("btn1").innerHTML=a;
    }
    </script>
    <script>
        function Good2(){
          var b=parseInt(document.getElementById("button2").value);
          b=b+1;
          document.getElementById("button2").value=b;
          document.getElementById("btn2").innerHTML=b;
        }
        </script>
    <script>
        function Good3(){
          var b=parseInt(document.getElementById("button3").value);
          b=b+1;
          document.getElementById("button3").value=b;
          document.getElementById("btn3").innerHTML=b;
        }
    </script>
    <script>
        function Good4(){
          var b=parseInt(document.getElementById("button4").value);
          b=b+1;
          document.getElementById("button4").value=b;
          document.getElementById("btn4").innerHTML=b;
        }
    </script>
</head>

<body>
        <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>                        
                        </button>
                        <a class="navbar-brand" href="{% url 'home' %}">Nick Fury's caseshop</a>
                      </div>
                      <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                          <li><a href="{% url 'home' %}">HOME</a></li>
                          <li><a href="{% url 'ranking' %}">Rank</a></li>
                          <li><a href="{% url 'phonecase' %}">Case</a></li>
                          <li><a href="{% url 'cart' %}">Cart</a></li>
                          <li><a href="{% url 'login' %}">Login</a></li>
                            </ul>
                          </li>
                          <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
                        </ul>
                      </div>
                    </div>
                  </nav>
    <section class="goods_container">
        <div class="container-header">
            <h2 style="color:red;">BEST</h2>
        </div>
        <div class="container-main">
            <div class="case_sample_best">
                <img class="best_icon" src="/static/trophy.png">
                    <img class="case_sample" src="/static/PhoneCase/jellycase/case7.jpg">
                <p class="title">인생네컷 젤리케이스</p>
                <p class="title2">12000원</p>
                <button class='far fa-thumbs-up' id="button1" value="275" onclick="Good()" style="font-size:24px;background-color:#ffc0cb;;border:0px solid #ffc0cb;;"></button><div id="btn1">275</div>
            </div>
            <div class="case_sample_best">
                    <img class="best_icon" src="/static/crown.png">
                    <img class="case_sample" img src="/static/PhoneCase/slimhard/case7.jpg">
                <p class="title">우디 슬림케이스</p>
                <p class="title2">12000원</p>
                <button class='far fa-thumbs-up' id="button2" value="210" onclick="Good2()" style="font-size:24px;background-color:#ffc0cb;border:0px solid #ffc0cb;"></button><div id="btn2">210</div>
              </div>
            <div class="case_sample_best">
                    <img class="best_icon" src="/static/rank.png">
                    <img class="case_sample" img src="/static/PhoneCase/buffercase/case10.jpg">
                <p class="title">스누피LOVE 범퍼케이스</p>
                <p class="title2">18000원</p>
                <button class='far fa-thumbs-up' id="button3" value="166" onclick="Good3()" style="font-size:24px;background-color:#ffc0cb;border:0px solid #ffc0cb;"></button><div id="btn3">166</div>
            </div>
            <div class="case_sample_best">
              <span style="font-size:23pt;">4</span>
                    <img class="case_sample" img src="/static/PhoneCase/slimhard/case9.jpg">
                <p class="title">풍경명화 슬림케이스</p>
                <p class="title2">19000원</p>
                <button class='far fa-thumbs-up' id="button4" value="110" onclick="Good4()" style="font-size:24px;background-color:#ffc0cb;border:0px solid #ffc0cb;"></button><div id="btn4">110</div>
            </div>
        </div>
    </section>

    <section class="goods_container1">
            <div class="container-header">
                <h2 style="color:orange;">NEW</h2>
            </div>
            <div class="container-main">
                <div class="case_sample_new">
                        <img class="case_sample"  src="/static/PhoneCase/slimhard/case1.jpg">
                    <p class="title">딸기우유 슬림케이스</p>
                    <p class="title2">13000원</p>
                </div>
                <div class="case_sample_new">
                            <img class="case_sample"  src="/static/PhoneCase/slimhard/case2.jpg">
                    <p class="title">바나나우유 슬림케이스</p>
                    <p class="title2">11000원</p>
                </div>
                <div class="case_sample_new">
                    <a href="">
                            <img class="case_sample"  src="/static/PhoneCase/buffercase/case1.jpg">
                    </a>
                    <p class="title">무지개와 달 버퍼케이스</p>
                    <p class="title2">15000원</p>
                </div>
                <div class="case_sample_new">
                    <a href="">
                            <img class="case_sample"  src="/static/PhoneCase/jellycase/case1.jpg">
                    </a>
                    <p class="title">작은 외계인 슬림케이스</p>
                    <p class="title2">11000원</p>
                </div>
                <div class="case_sample_new">
                    <a href="">
                        <img class="case_sample"  src="/static/PhoneCase/jellycase/case2.jpg">
                    </a>
                    <p class="title">웨더투데이 슬림케이스</p>
                    <p class="title2">21000원</p>
                </div>
                <div class="case_sample_new">
                    <a href="">
                        <img class="case_sample"  src="/static/PhoneCase/buffercase/case2.jpg">
                    </a>
                    <p class="title">사랑스러운 너 범퍼케이스</p>
                    <p class="title2">16000원</p>
                </div>
                <div class="case_sample_new">
                    <a href="">
                        <img class="case_sample"  src="/static/PhoneCase/jellycase/case3.jpg">
                    </a>
                    <p class="title">공룡 투명 젤리케이스</p>
                    <p class="title2">17000원</p>
                </div>
                <div class="case_sample_new">
                    <a href="">
                        <img class="case_sample"  src="/static/PhoneCase/slimhard/case3.jpg">
                    </a>
                    <p class="title">냐옹 슬림케이스</p>
                    <p class="title2">15000원</p>
                </div>
            </div>
            </section>
  <div id="Foot">
      <small>
          <span>© NICK FURY'S CASE SHOP. ALL RIGHTS RESERVED. | DESIGNED BY <a href="{% url 'home' %}">NF&F</a>.</span>
      </small>
  </div>



</body>

</html>