
<!doctype html>
<html lang="ko" class="windows chrome pc">
    <head>
        <title>닉퓨리네 핸드폰샵</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <link rel="stylesheet" type="text/css" href="C:\Users\user\Desktop\새 폴더\css2.css">

        <!-- jquery 2.1.1 version -->
        <script
            src="https://code.jquery.com/jquery-2.1.1.min.js"
            integrity="sha256-h0cGsrExGgcZtSZ/fRz4AwV+Nn6Urh/3v3jFRQ0w9dQ="
            crossorigin="anonymous"></script>    

        <script type="text/javascript" src="C:\Users\user\Desktop\새 폴더\js3.js"></script>
        <script type="text/javascript" src="C:\Users\user\Desktop\새 폴더\js4.js"></script>


    </head>
    <body>
        <div id="shopWrap">
            <!-- 메인 TOP 배너 -->
            <div id="shopHead" class="" role="banner">
                <div class="inner_head ">
                    <h1 class="tit_head">
                        <a href="/kr/index" id="kakaoServiceLogo" class="img_gnb link_friends ">닉퓨리네 케이스가계</a>
                    </h1>
                    <div id="shopGnb" role="navigation">
                
                        <ul class="gnb_newfriends"  >
                            <li class="">
                                <a href="/kr/products/groups/categories/3" class="link_gnb">카테고리</a>
                                <div class="lnb_friends lnb_cate">
                                    <div class="box_cate">
                                        <strong class="tit_cate">전체 분류</strong>
                                        <div class="sub_cate sub_cate1 on">
                                            <a href="/kr/products/groups/categories/3" class="link_cate">
                                                전체<span class="img_gnb ico_arrow"></span>
                                            </a>
                                            <div class="layer_sub">
                                                <ul class="list_sub">
                                                    <li>
                                                        <a href="/kr/products/groups/categories/3?requestCharacter=&sort=NEW" class="link_sub">신상품순</a>
                                                    </li>
                                                    <li>
                                                        <a href="/kr/products/groups/categories/3?requestCharacter=&sort=PRICE_ASC" class="link_sub">낮은 가격순</a>
                                                    </li>
                                                    <li>
                                                        <a href="/kr/products/groups/categories/3?requestCharacter=&sort=PRICE_DESC" class="link_sub">높은 가격순</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="sub_cate sub_cate2">
                                            <a href="/kr/products/groups/categories/103?requestCategory=103" class="link_cate">
                                                        테마 기획전<span class="img_gnb ico_arrow"></span>
                                                    </a>
                                            <div class="layer_sub">
                                                <ul class="list_sub">
                                                    <li>
                                                        <a href="/kr/products/groups/categories/120?requestCategory=120" class="link_sub">배틀그라운드</a>
                                                        <a href="/kr/products/groups/categories/120?requestCategory=120" class="link_banner" style="display: none">
                                                            <img src="https://t1.daumcdn.net/friends/prod/category/190510_GNBbanner_battlegrounds_W.png" class="thumb_g" alt="배틀그라운드">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/kr/products/groups/categories/129?requestCategory=129" class="link_sub">허니프렌즈</a>
                                                        <a href="/kr/products/groups/categories/129?requestCategory=129" class="link_banner" style="display: none">
                                                            <img src="https://t1.daumcdn.net/friends/prod/category/190425_GNBbanner_honey_W.png" class="thumb_g" alt="허니프렌즈">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/kr/products/groups/categories/130?requestCategory=130" class="link_sub">아이앱 X 라이언&콘</a>
                                                        <a href="/kr/products/groups/categories/130?requestCategory=130" class="link_banner" style="display: none">
                                                            <img src="https://t1.daumcdn.net/friends/prod/category/190425_GNBbanner_iab_W.png" class="thumb_g" alt="아이앱 X 라이언&콘">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/kr/products/groups/categories/128?requestCategory=128" class="link_sub">버블버블</a>
                                                        <a href="/kr/products/groups/categories/128?requestCategory=128" class="link_banner" style="display: none">
                                                            <img src="https://t1.daumcdn.net/friends/prod/category/190402_GNB_bubblebubble_W.png" class="thumb_g" alt="버블버블">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/kr/products/groups/categories/127?requestCategory=127" class="link_sub">레이지선데이</a>
                                                        <a href="/kr/products/groups/categories/127?requestCategory=127" class="link_banner" style="display: none">
                                                            <img src="https://t1.daumcdn.net/friends/prod/category/190329_GNBbanner_lazysunday_W.png" class="thumb_g" alt="레이지선데이">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/kr/products/groups/categories/126?requestCategory=126" class="link_sub">러블리 어피치</a>
                                                        <a href="/kr/products/groups/categories/126?requestCategory=126" class="link_banner" style="display: none">
                                                            <img src="https://t1.daumcdn.net/friends/prod/category/190221_gnb_lovelyapeach_W.png" class="thumb_g" alt="러블리 어피치">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/kr/products/groups/categories/123?requestCategory=123" class="link_sub">리틀 스케치북</a>
                                                        <a href="/kr/products/groups/categories/123?requestCategory=123" class="link_banner" style="display: none">
                                                            <img src="https://t1.daumcdn.net/friends/prod/category/190213_GNB_littlesketchbook_W.png" class="thumb_g" alt="리틀 스케치북">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/kr/products/groups/categories/124?requestCategory=124" class="link_sub">허그미 프렌즈</a>
                                                        <a href="/kr/products/groups/categories/124?requestCategory=124" class="link_banner" style="display: none">
                                                            <img src="https://t1.daumcdn.net/friends/prod/category/190212_GNB_hugme_W.png" class="thumb_g" alt="허그미 프렌즈">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href ="/kr/products/groups/categories/122?requestCategory=122" class="link_sub">커버낫 X 라이언</a>
                                                        <a href="/kr/products/groups/categories/122?requestCategory=122" class="link_banner" style="display: none">
                                                            <img src="https://t1.daumcdn.net/friends/prod/category/190212_GNB_covernat_W.png" class="thumb_g" alt="커버낫 X 라이언">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/kr/products/groups/categories/125?requestCategory=125" class="link_sub">트레블 프렌즈</a>
                                                        <a href="/kr/products/groups/categories/125?requestCategory=125" class="link_banner" style="display: none">
                                                            <img src="https://t1.daumcdn.net/friends/prod/category/190213_GNB_travelfriends_W.png" class="thumb_g" alt="트레블 프렌즈">
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="sub_cate sub_cate3">
                                            <a href="/kr/products/groups/categories/64?requestCategory=64" class="link_cate">
                                                인형/피규어<span class="img_gnb ico_arrow"></span>
                                            </a>
                                            <div class="layer_sub">
                                                <ul class="list_sub">
                                                    <li>
                                                        <a href="/kr/products/groups/categories/65?requestCategory=65" class="link_sub">미니인형</a>
                                                    </li>
                                                    <li>
                                                        <a href=   "/kr/products/groups/categories/66?requestCategory=66" class="link_sub">중형인형</a>
                                                    </li>
                                                    <li>
                                                        <a href="/kr/products/groups/categories/67?requestCategory=67" class="link_sub">대형인형</a>
                                                    </li>
                                                    <li>
                                                        <a href="/kr/products/groups/categories/68?requestCategory=68" class="link_sub">키체인인형</a>
                                                    </li>
                                                    <li>
                                                        <a href="/kr/products/groups/categories/94?requestCategory=94" class="link_sub">피규어/브릭</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="sub_cate sub_cate4">
                                            <a href="/kr/products/groups/categories/22?requestCategory=22" class="link_cate">
                                                리빙<span class="img_gnb ico_arrow"></span>
                                            </a>
                                            <div class="layer_sub">
                                                <ul class="list_sub">
                                                    <li>
                                                        <a href="/kr/products/groups/categories/70?requestCategory=70" class="link_sub">쿠션/방석</a>
                                                    </li>
                                                    <li>
                                                        <a href="/kr/products/groups/categories/69?requestCategory=69" class="link_sub">컵/텀블러</a>
                                                    </li>
                                                    <li>
                                                        <a href="/kr/products/groups/categories/74?requestCategory=74" class="link_sub">주방용품</a>
                                                    </li>
                                                    <li>
                                                        <a href="/kr/products/groups/categories/75?requestCategory=75" class="link_sub">미용/욕실용품</a>
                                                    </li>
                                                    <li>
                                                        <a href="/kr/products/groups/categories/76?requestCategory=76" class="link_sub">생활소품/잡화</a>
                                                    </li>
                                                    <li>
                                                        <a href="/kr/products/groups/categories/77?requestCategory=77" class="link_sub">푸드</a>
                                                    </li>
                                                    <li>
                                                        <a href="/kr/products/groups/categories/72?requestCategory=72" class="link_sub">탈취/방향제</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                            <div class="sub_cate sub_cate5">
                                                <a href="/kr/products/groups/categories/13?requestCategory=13" class="link_cate">
                                                            잡화<span class="img_gnb ico_arrow"></span>
                                                        </a>
                                                    <div class="layer_sub">
                                                    <ul class="list_sub">
                                                        <li>
                                                                    <a href="/kr/products/groups/categories/31?requestCategory=31" class="link_sub">신발</a>
                                                                    </li>
                                                            <li>
                                                                    <a href="/kr/products/groups/categories/30?requestCategory=30" class="link_sub">파우치/지갑/가방</a>
                                                                    </li>
                                                            <li>
                                                                    <a href="/kr/products/groups/categories/34?requestCategory=34" class="link_sub">패션소품</a>
                                                                    </li>
                                                            <li>
                                                                    <a href="/kr/products/groups/categories/33?requestCategory=33" class="link_sub">우산</a>
                                                                    </li>
                                                            <li>
                                                                    <a href="/kr/products/groups/categories/83?requestCategory=83" class="link_sub">시즌잡화</a>
                                                                    </li>
                                                            </ul>
                                                </div>
                                            </div>
                                                
                                                </div>
                                                <!-- 카테고리 박스 캐릭터 출력 -->
                                    <!-- <div class="box_cate">          
                                        <strong class="tit_cate tit_characters">캐릭터별</strong>
                                        <ul class="list_characters">
                                            <li>
                                                <a href="/kr/products/groups/characters/23?requestCharacter=23" class="link_characters">
                                                    <div class="frame_characters">
                                                        <span class="img_emoticon ico_ryan"></span>
                                                    </div>
                                                    <strong class="tit_characters">라이언</strong>
                                                    <span class="txt_characters">위로의 아이콘,<br>믿음직스러운 조언자</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/kr/products/groups/characters/6?requestCharacter=6" class="link_characters">
                                                    <div class="frame_characters">
                                                        <span class="img_emoticon ico_apeach"></span>
                                                    </div>
                                                    <strong class="tit_characters">어피치</strong>
                                                    <span class="txt_characters">뒤태가 매력적인<br>애교만점 어피치</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/kr/products/groups/characters/7?requestCharacter=7" class="link_characters">
                                                    <div class="frame_characters">
                                                        <span class="img_emoticon ico_frodo"></span>
                                                    </div>
                                                    <strong class="tit_characters">프로도</strong>
                                                    <span class="txt_characters">부잣집 도시개<br>프로도</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/kr/products/groups/characters/8?requestCharacter=8" class="link_characters">
                                                    <div class="frame_characters">
                                                        <span class="img_emoticon ico_neo"></span>
                                                    </div>
                                                    <strong class="tit_characters">네오</strong>
                                                    <span class="txt_characters">새침한 패셔니스타<br>네오</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/kr/products/groups/characters/5?requestCharacter=5" class="link_characters">
                                                    <div class="frame_characters">
                                                        <span class="img_emoticon ico_muzi"></span>
                                                    </div>
                                                    <strong class="tit_characters">무지</strong>
                                                    <span class="txt_characters">토끼옷을 입은 무지</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/kr/products/groups/characters/11?requestCharacter=11" class="link_characters">
                                                    <div class="frame_characters">
                                                        <span class="img_emoticon ico_con"></span>
                                                    </div>
                                                    <strong class="tit_characters">콘</strong>
                                                    <span class="txt_characters">악어를 닮은<br>정체불명 콘</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/kr/products/groups/characters/9?requestCharacter=9" class="link_characters">
                                                    <div class="frame_characters">
                                                        <span class="img_emoticon ico_tube"></span>
                                                    </div>
                                                    <strong class="tit_characters">튜브</strong>
                                                    <span class="txt_characters">화나면 미친오리로<br>변신하는 튜브</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/kr/products/groups/characters/10?requestCharacter=10" class="link_characters">
                                                    <div class="frame_characters">
                                                        <span class="img_emoticon ico_jayg"></span>
                                                    </div>
                                                    <strong class="tit_characters">제이지</strong>
                                                    <span class="txt_characters">힙합을 사랑하는<br>자유로운 영혼</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div> -->
                                </div>
                            </li>
                            <li>
                                <a href="ranking.html" class="link_gnb">랭킹</a>
                            </li>
                            <li>
                                <a href="/kr/info/storeInfo" class="link_gnb">매장안내</a>
                            </li>
                            <li class="item_gnb">
                                <a href="/kr/customcenter/bnotice" class="link_gnb">고객센터</a>
                            </li>
                        </ul>
                    </div>
                    <div class="wrap_util"><!-- 마이메뉴 오버 시 mypage_on 클래스 추가 -->
                        <button type="button" class="btn_search " >
                            <span class="img_gnb ico_search">상품검색하기</span>
                            </button>
                        <div class="layer_search">
                            <h2 class="screen_out">상품 검색하기</h2>
                            <form action="/kr/search" method="get">
                                <fieldset>
                                    <legend class="screen_out">검색어 입력폼</legend>
                                    <input type="text" id="prdSearch" name="keyword" class="inp_search" value="" placeholder="검색어를 입력하세요">
                                    <button type="submit" class="btn_submit">
                                        <span class="img_gnb ico_submit">상품검색</span>
                                    </button>
                                </fieldset>
                            </form>
                        </div>
                        <div class="box_search">
                            <h2 class="screen_out">상품 검색하기</h2>
                            <form action="/kr/search" method="get">
                                <fieldset>
                                    <legend class="screen_out">상품검색 입력폼</legend>
                                    <label class="lab_search" for="keyword"><span class="rw_show">상품검색</span><span class="rw_hide">검색어를 입력하세요</span></label>
                                    <input type="text" id="keyword" name="keyword" class="inp_search" value="">
                                    <button type="button" class="rw_hide btn_del"><span class="ico_friends ico_del">검색어 지우기</span></button>
                                    <button type="button" class="rw_hide btn_cancel">취소</button>
                                    <button type="submit" class="btn_submit">
                                        <span class="ico_friends ico_submit">이 단어로 상품찾기</span>
                                    </button>
                                </fieldset>
                            </form>
                        </div>
                        <strong class="screen_out">마이페이지</strong>
                        <a href="/kr/signin" class="link_mypage" ><span class="img_gnb ico_mypage">마이페이지</span></a><!-- 클릭 시 .wrap_util에 mypage_on 클래스 추가 -->
                        <div id="layerMyPage" class="layer_mypage">
                            <h2 class="screen_out">마이페이지</h2>
                            <!-- 로그인 전 -->
                            <ul class="list_mymenu">
                                <li><a href="/auth/kakao?disable_approval_window=false" class="link_item link_login">로그인</a></li>
                                <li><a href="/kr/mypage/orderlist" class="link_item order_list link_disalbed">주문내역</a></li>
                                <li><a href="/kr/mypage/wishlist" class="link_item wish_list link_disalbed">찜</a></li>
                                <li><a href="/kr/mypage/cancellist" class="link_item cancel_change link_disalbed">취소 및 교환</a></li>
                                <li><a href="/kr/mypage/pointlist" class="link_item point link_disalbed">포인트</a></li>
                                <li><a href="/kr/mypage/couponlist" class="link_item coupon link_disalbed">쿠폰</a></li>
                                <li><a href="/kr/mypage/onetoone" class="link_item cs link_disalbed">1:1 문의</a></li>
                                <li><a href="javascript:nonMemberPopup();" class="link_item">비회원 주문조회</a></li>
                            </ul>
                            <script>
                                $('.link_mypage').on('click', function(e) {
                                e.stopPropagation();
                                e.preventDefault();
                                location.href = '/auth/kakao?disable_approval_window=false&redirect_url=' +
                                    encodeURIComponent('/kr/mypage/orderlist');

                                return false;
                                });

                                $('.list_mymenu .link_item.order_list').on('click', function(e) {
                                    e.stopPropagation();
                                    e.preventDefault();
                                    location.href = '/auth/kakao?disable_approval_window=false&redirect_url=' +
                                    encodeURIComponent('/kr/mypage/orderlist');

                                    return false;
                                });
                                $('.list_mymenu .link_item.wish_list').on('click', function(e) {
                                    e.stopPropagation();
                                    e.preventDefault();
                                    location.href = '/auth/kakao?disable_approval_window=false&redirect_url=' +
                                    encodeURIComponent('/kr/mypage/wishlist');

                                    return false;
                                });
                                $('.list_mymenu .link_item.cancel_change').on('click', function(e) {
                                    e.stopPropagation();
                                    e.preventDefault();
                                    location.href = '/auth/kakao?disable_approval_window=false&redirect_url=' +
                                    encodeURIComponent('/kr/mypage/cancellist');

                                    return false;
                                });
                                $('.list_mymenu .link_item.point').on('click', function(e) {
                                    e.stopPropagation();
                                    e.preventDefault();
                                    location.href = '/auth/kakao?disable_approval_window=false&redirect_url=' +
                                    encodeURIComponent('/kr/mypage/pointlist');

                                    return false;
                                });
                                $('.list_mymenu .link_item.coupon').on('click', function(e) {
                                    e.stopPropagation();
                                    e.preventDefault();
                                    location.href = '/auth/kakao?disable_approval_window=false&redirect_url=' +
                                    encodeURIComponent('/kr/mypage/couponlist');

                                    return false;
                                });
                                $('.list_mymenu .link_item.cs').on('click', function(e) {
                                    e.stopPropagation();
                                    e.preventDefault();
                                    location.href = '/auth/kakao?disable_approval_window=false&redirect_url=' +
                                    encodeURIComponent('/kr/mypage/onetoone');

                                    return false;
                                });
                            </script>
                        <!-- // 로그인 전 -->
                        </div>
                        <strong class="screen_out">장바구니 - 수량</strong>
                        <a href="order.html" class="link_cart">
                        <span class="img_gnb ico_cart"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html> 