
    body {
      font: 400 15px/1.8 Lato, sans-serif;
      color: #777;
    }

    h3,
    h4 {
      margin: 10px 0 30px 0;
      letter-spacing: 10px;
      font-size: 20px;
      color: #111;
    }

    .container {
      padding: 80px 120px;
    }

    .person {
      border: 10px solid transparent;
      margin-bottom: 25px;
      width: 80%;
      height: 80%;
      opacity: 0.7;
    }

    .person:hover {
      border-color: #f1f1f1;
    }

    .carousel-inner img {

      width: 100%;
      /* Set width to 100% */
      height: 600px;
    }

    .carousel-caption h3 {
      color: #fff !important;
    }

    @media (max-width: 600px) {
      .carousel-caption {
        display: none;
        /* Hide the carousel text when the screen is less than 600 pixels wide */
      }
    }

    .bg-1 {
      background: #2d2d30;
      color: #bdbdbd;
    }

    .bg-1 h3 {
      color: #fff;
    }

    .bg-1 p {
      font-style: italic;
    }

    .list-group-item:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }

    .list-group-item:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
    }

    .thumbnail p {
      margin-top: 15px;
      color: #555;
    }

    .btn {
      padding: 10px 20px;
      background-color: #333;
      color: #f1f1f1;
      border-radius: 0;
      transition: .2s;
    }

    .btn:hover,
    .btn:focus {
      border: 1px solid #333;
      background-color: #fff;
      color: #000;
    }

    .modal-header,
    h4,
    .close {
      background-color: #333;
      color: #fff !important;
      text-align: center;
      font-size: 30px;
    }

    .modal-header,
    .modal-body {
      padding: 40px 50px;
    }

    .nav-tabs li a {
      color: #777;
    }

    .navbar {
      font-family: Montserrat, monospace;
      margin-bottom: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 21px !important;
      letter-spacing: 4px;
      opacity: 0.9;
      width: 100%;
      z-index: 10;
    }

    #mySlide{
        top: 0px;
    }

    .navbar li a,
    .navbar .navbar-brand {
      color: #d5d5d5 !important;
    }

    .navbar-nav li a:hover {
      color: #fff !important;
    }

    .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
    }

    .navbar-default .navbar-toggle {
      border-color: transparent;
    }

    .open .dropdown-toggle {
      color: #fff;
      background-color: #555 !important;
    }

    .dropdown-menu li a {
      color: #000 !important;
    }

    .dropdown-menu li a:hover {
      background-color: red !important;
    }

    footer {
      background-color: #2d2d30;
      color: #f5f5f5;
      padding: 32px;
    }

    footer a {
      color: #f5f5f5;
    }

    footer a:hover {
      color: #777;
      text-decoration: none;
    }

    .form-control {
      border-radius: 0;
    }

    textarea {
      resize: none;
    }

    ul {
      display: block;
      list-style-type: disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
    }

    .list_bnr li {
      float: left;
      width: 50%;
      padding: 10px;

      box-sizing: border-box;
    }

    .thumb_g {
      display: block;
      width: 100%;
      height: 300px;
      border-radius: 6px;
    }

    a {
      color: #1e1e1e;
      text-decoration: none;
    }

    .list_bnr {
      margin-top: 60px;
      margin-bottom: 60px;
    }

    .list_bnr .link_bnr {
      display: block;
      overflow: hidden;
      border-radius: 10px;
    }

    .list_bnr .link_bnr {
      position: relative;
    }

    .list_bnr li .title {
      z-index: 1;
      position: absolute;
      bottom: 20px;
      left: 20px;
      color: #fff;
      font-size: 30px;
      font-weight: bold;
      line-height: normal;
    }

    #Foot {
      margin-top: 30px;
      color: white;
      background-color: rgb(0, 0, 0);
      padding: 20px;
	    text-align: center;
    }

    #Foot a {
      text-decoration: none;
	    color: rgba(255,255,255,.9);

    }

    #Foot span{
      letter-spacing: 0.20em;
	    text-transform: uppercase;
	    font-size: 0.80em;
	    color: rgba(255,255,255,.6);
    }

    #link-icon{
      text-align: center;
    }

    #link-icon img{
      width:110px;
      margin : 5px;
    }

    #info {
      background-color: rgb(56, 56, 54, 0.8);
      z-index: 2;
      color: white;
      position: absolute;
      clear: both;
      float: right;
      margin-top: 10%;

      width: 30%;
      height: 30%;
      margin-left: 50%;

    }

    #chart {
      margin: 30px;
      margin-top: 70px;
      width: 60%;
      margin: auto;
    }


    .map_div {
      margin: 40px;
      padding-bottom: 40px;
      border-bottom: black solid 1px;
    }

    #information {
      background-color: rgba(0, 0, 0, .6);
      border: 10px solid black;
      display: inline-block;
      color: white;
      bottom: 100px;
      margin-left: 850px;
      padding: 30px;
      width: 500px !important;
      vertical-align: middle;
      position: absolute;
    }

    #information b{
      color: white;
      letter-spacing: 3px;
    }

    #information p{
      color: white;
      padding-left:10px;
      letter-spacing: 1px;
    }

    #up-button{
    width: 40px;
    height: 40px;
    border: 2px solid white;
    background-color:rgba(0,0,0,0.7);
    position: fixed;
    text-align: center;
    bottom: 30px;
    right: 50px;
    border-radius: 100%;
    opacity: 0.5;
    display: table;
}

#go-up{
    color: rgba(255,255,255,01);
    text-decoration: none;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.goods_container {
clear:both;
  padding: 30px 30px 40px 30px;
}

.container-header {
  display: flex;
  align-items: center;
  height: 36px;
  margin-bottom: 30px;
}

.container-header h2 {
  margin-right: auto;
}

.container-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  margin: 0px 0px 8px 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.case_sample{
  width: 270px;
  height: 270px;
  margin: 15px;
}

.case_sample_new img{
  width: 270px;
  height: 270px;
  margin: 15px;
}

.best_icon{
  width: 50px;
  display:inline-block;
}


.case_sample_best {
  width: 300px;
  background-color:whitesmoke;
  margin: 10px;
  padding: 10px 0px 10px 0px;
  text-align: center;
}

.main_banner{
  width:300px;
}
    